* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #070b18;
  color: white;
  font-family: Arial, sans-serif;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
